html {
  background-color: #b2b2b2;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
  /*text-decoration: none;*/
}

.title_text {
  font-size: 30px;
  text-align: center;
}

.about_us {
  text-align: center;
}

.left_media {
  float: left;
}

.std_padding {
  padding: 5px;
}

footer {
  text-align: center;
}