html {
  background-color: #b2b2b2;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
  padding: 5px;
  /*text-decoration: none;*/
}

.title_text {
  font-size: 30px;
  text-align: center;
}

.logo {
  width: auto;
  height: auto;
}

.center {
  text-align: center;
}

.left_media {
  float: left;
}

.align {
  padding-top: 40px;
  text-align: right;
}

button {
  vertical-align: middle;
  text-align: left;
}

.perc15 {
  width: 15%;
  height: auto;
}

.perc25 {
  width: 25%;
  height: auto;
}

article > section {
  display: block;
}
