html {
  background-color: #b2b2b2;
  font-family: 'Gloria Hallelujah', cursive;
}

.separator {
  background-color: black;
  height: 10px;
}

.title_text {
  font-size: 30px;
  text-align: center;
}

.logo {
  width: auto;
  height: auto;
}

.center {
  text-align: center;
}

.left_media {
  float: left;
}

.right_media {
  float: right;
}

.align {
  padding-top: 40px;
  text-align: right;
}

